body > div {
  width: 950px;
  margin: 0 auto;
  background-color:#d4deeb;
  height:200px;
}

#moonarticle {
  width: 750px;
  float: left;
}

.clear {
  clear: both;
}

header{
width:950px;
height:144px;
background: #fff;
}

nav{
float: left;
background: #ccc;
width:200px;
height: 600px;
}

body > div > section > div {
  width: 732px;
  margin: 0 auto;
  background-color: white;
  margin-left: 9px;
  margin-right: 9px;
}

body > div > section > div > article {
  margin: 0 auto;
  border: 1px solid gray;
  margin: 3px;
  padding: 5px;
}

body > div > section > div > article > img {
  margin: 0 auto;
}

body > div > section > div >article > p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  margin: 5px;
  color: #165AAE;
}

#wrap{
	width: 732px;
	float:left;
	margin-left: 9px;
	margin-right: 9px;
	background-color: #fff;
	/*outline: 1px solid blue;*/
}

#wrap > img{
	margin-left: 8px;
	margin-right: 8px;
	width:716px;
	height:60px;
}

#wrap > ul{
	list-style: none;
	list-style-type: none;
	padding: 0;
	background-color:#d4deeb;
	width:352px;
	margin-left:8px;
}

#wrap > ul > li:first-child{
	background: url("../images/bg-header-gold.png") no-repeat;
	color:#fff;
	padding:5px;
	font-size: 12px;
	font-weight: bold;
	border-top: none;
	border-bottom: none;

}	

#wrap > ul > li:nth-child(2){

	border-top: none;
}	


#wrap > ul > li{
	border: 1px solid white;
	font-size: 11px;
	padding:3px;
}

#wrap > ul > li > #blackbold{
	color:#000;
	font-weight: bold;
}

#wrap > ul > li > #bluebold{
	color:#003680;
	font-weight: bold;
}

#wrap > ul > li > #graybold{
	color:#a2a2a2;
	font-weight: bold;	
}

#wrap > ul > li > img{
	width: 19px;
	height: 11px;
	vertical-align: middle;
}

