
@import url(http://fonts.googleapis.com/css?family=PT+Sans);

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #000000 url(../images/bg-bottom.png) no-repeat;
  background-size: 100%;

}

body > div {
  width: 950px;
  margin: 0 auto;
}

#mainbody {
  width: 750px;
  background-color:#d4deeb;
  border-top-right-radius: 20px;
  display: inline-block;
}

#moonarticle {
  width: 750px;
  float: left;
}

.clear {
  clear: both;
}

header{
width:950px;
height:144px;
background: #15253A;
}

nav{
float: left;
background: #36223E;
width:200px;
height: auto;
}


/*********************Begin Overview Section****
*************************************************/
#overview {
  width: 750px;
  background-color: #ffffff;
  border-top-right-radius: 20px;
  float: left;
}

#overview > p {
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: normal;
  color: #000000;
  border-bottom: 1px solid #d4deeb;
  padding-bottom: 9px;
  margin: 7px 9px 0px 9px;
}

#overview > h2 {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 22px;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 3px;
  padding-bottom: 5px;
  color: #000000;
  margin: 0px;
}

#overview > p > a {
  color: #396DC0;
  text-decoration: none;
}

#overview > p > a:hover {
  color: #396DC0;
  text-decoration: underline;
}
nav ul{
  padding: 0px;
}

nav ul li{
  color: #937B9E;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 12px;
  text-align: left;
  list-style: none;
}

nav ul li a{
  color: #937B9E;
  text-decoration: none;
  padding: 5px 15px;
}

nav ul li a:hover{
  color: #fff;
}

.pad{
  padding: 5px 15px;
}

.selcolor{
  color: #fff;
}
/*buttons ids and hoverstates*/
#homebtn {
  background-image: url(../images/leftnav_home_off.jpg);
  display: inline-block;
  width: 170px;
  height:30px;
  padding: 0px 15px;
  float: left;
}

#homebtn:hover {
  background-image: url(../images/leftnav_home_on.jpg);padding:
}

#newsbtn {
  background-image: url(../images/leftnav_news_off.jpg);
  display: inline-block;
  width: 170px;
  height:30px;
  padding: 0px 15px;
  float:left;
}

#newsbtn:hover {
  background-image: url(../images/leftnav_news_on.jpg);
}

#planetsbtn {
  background-image: url(../images/leftnav_planets_sel.jpg);
  display: inline-block;
  width: 170px;
  height:30px;
  padding: 0px 15px;
}

#missionbtn {
  background-image: url(../images/leftnav_missions_off.jpg);
  display: inline-block;
  width: 170px;
  height:30px;
  float:left;
  padding: 0px 15px;
}

#missionbtn:hover {
  background-image: url(../images/leftnav_missions_on.jpg);
}
#sciencebtn {
  background-image: url(../images/leftnav_scitech_off.jpg);
  display: inline-block;
  width: 170px;
  height:30px;
  float:left;
  padding: 0px 15px;
}

#sciencebtn:hover {
  background-image: url(../images/leftnav_scitech_on.jpg);
}

#multibtn {
  background-image: url(../images/leftnav_multimedia_off.jpg);
  display: inline-block;
  width: 170px;
  height:30px;
  float:left;
  padding: 0px 15px;
}

#multibtn:hover {
  background-image: url(../images/leftnav_multimedia_on.jpg);
}

#peoplebtn {
  background-image: url(../images/leftnav_people_off.jpg);
  display: inline-block;
  width: 170px;
  height:30px;
  float:left;
  padding: 0px 15px;
}

#peoplebtn:hover {
  background-image: url(../images/leftnav_people_on.jpg);
}

#kidsbtn {
  background-image: url(../images/leftnav_kids_off.jpg);
  display: inline-block;
  width: 170px;
  height:30px;
  float: left;
  padding: 0px 15px;
}

#kidsbtn:hover {
  background-image: url(../images/leftnav_kid_on.jpg);
}

#edbtn {
  background-image: url(../images/leftnav_educ_off.jpg);
  display: inline-block;
  width: 170px;
  height:30px;
  float:left;
  padding: 0px 15px;
}

#edbtn:hover {
  background-image: url(../images/leftnav_educ_on.jpg);
}

.searchbox2 {
    background-image: url("../images/leftnav_searchbox_bg.png");
    background-repeat: no-repeat;
    height: 28px;
    padding-top: 5px !important;
    width: 155px;
}


/*********************End Overview Section****
*************************************************/

/****************Begin MoonArticle Section*****
**********************************************/
#mainbody > section > div {
  width: 732px;
  margin: 0 auto;
  background-color: white;
  margin-left: 9px;
  margin-right: 9px;
  margin-top: 0px;
  padding-top: 6px;
}

#mainbody > section > div > article:nth-of-type(1) {
  width: 714px;
  margin: 0 auto;
  border: 1px solid gray;
}

#mainbody > section > div > article:nth-of-type(1) > img {
  margin: 0 auto;
  width: 704px;
  height: 352px;
  padding: 5px;
}

#mainbody > section > div > article:nth-of-type(1) > p {
  font-size: 11px;
  margin: 5px;
  color: #165AAE;
}

#moonarticle > div > article > ol > article {
  width: 236px;
  border: 1px solid gray;
  float: right;
}

#moonarticle > div > article > ol {
  float: left;
  margin-top: 0px;
}

#moonarticle > div > article > ol > article > img {
  margin: 0 auto;
  width: 224px;
  padding: 5px;
}

#moonarticle > div > article > ol > article > p {
  font-size: 11px;
  margin: 5px;
  color: #165AAE;
}

.subtitle {
  color: #01358A;
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
}

#mainbody > section > div > article:nth-of-type(2) {
  width: 714px;
  margin: 0 auto;
}

#mainbody > section > div > article:nth-of-type(2) > ol > li {
  font-size: 13px;
  color: #000000;
}

#moonarticle > div > article > #readmore {
  text-align: center;
  margin-bottom: 0px;
}

#moonarticle > div > article > #readmore > img {
  vertical-align: middle;
}

/*******************Begin Tab Navigation**************
*****************************************************/
#secondrow {
  list-style: none;
  width: 732px;
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 3px;
  position: relative;
  right: -10px;
  float: left;
  position: relative;
}

#secondrow > li {
  display: inline-block;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #cacaca;
  background-color:#e7eff9;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  color: #456793;
  opacity: 0.6;
  padding: 3px 60px 2px 60px;
  box-shadow: 2px 1px 3px #566793;
}

#secondrow > #lefttab {
  border-top-left-radius: 15px;
}

#secondrow > li > a, #firstrow > li > a {
  text-decoration: none;
  color: #01358A;
  opacity: 0.6;
}

#secondrow > li > a:hover, #firstrow > li > a:hover {
  text-decoration: none;
  color: #01358A;
  opacity: 1;
}

#firstrow {
  list-style: none;
  padding-left: 0px;
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 0px;
  margin-top: 0px;
  position: relative;
  left: 22px;
  float: left;
}

#firstrow > li {
  display: inline-block;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #cacaca;
  background-color:#e7eff9;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  color: #456793;
  opacity: 0.6;
  box-shadow: 2px 1px 3px #566793;
  padding:3px 37px 2px 38px;
}

#firstrow > #overviewtab {
  height: 18px;
  background-color: #ffffff;
  border-top-left-radius: 15px;
  opacity: 1;
  border-bottom: 0px;
  color: #4a67a3;
  margin-bottom: 0px;
  box-shadow: none;
}

/*******************End Tab Navigation**************
*****************************************************/
#social {
  width:150px;
  display: inline-block;
  list-style: none;
  padding-left: 291px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#social > li{
  display: inline-block;
  list-style: none;
}

#facebook {
  background-color:#eceef5;
  color: #3b5998;
  font-size: 12px;
  font-weight: normal;
  padding: 3px;
  border: 1px solid #cacaca;
  border-radius: 6px
}

#facebook > img {
  height: 12px;
  width: 12px;
}
#twitter {
  color: #333;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  background-color:#f3f3f3;
  padding: 3px;
  border: 1px solid #cacaca;
  border-radius: 6px
}

#share {
  background-color:#fb704f;
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
  padding: 3px;
  border: 1px solid #cacaca;
  border-radius: 6px;
}
/*********************End MoonArticle Section****
*************************************************/


nav ul{
  padding-left: 0px;
}

nav ul li{
  color: #937B9E;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 12px;
  padding: 5px 15px;
  text-align: left;
  list-style: none;
}

nav ul li a{
  color: #937B9E;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 12px;
  padding: 5px 15px;
  text-align: left;
  list-style: none;
  text-decoration: none;
}

nav ul li a:hover{
  color: #937B9E;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 12px;
  padding: 5px 15px;
  text-align: left;
  list-style: none;
  text-decoration: none;
}
/**********Begin AdditionalFacts Section******************
*********************************************************/

#wrap{
	width: 732px;
	float:right;
	margin-left: 9px;
	margin-right: 9px;
	background-color: #fff;
	/*outline: 1px solid blue;*/
}

#wrap > img{
	margin-left: 8px;
	margin-right: 8px;
	width:716px;
	height:60px;
}

#mainbody > section > #lstuff{
    float:left;
    display:inline-block;
    width: 352px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}


#mainbody > section > #rstuff{
    float:left;
    display:inline-block;
    width: 352px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}

#wrap > div > ul{
	list-style: none;
	list-style-type: none;
	padding: 0;
	background-color:#d4deeb;
	width:352px;
	margin-left:8px;
}

#wrap > div > ul > li:first-child{
	color:#fff;
	padding:5px;
	font-size: 12px;
	font-weight: bold;
	border-top: none;
	border-bottom: none;
}

#wrap > div > ul > .gold{
    background: url("../images/bg-header-gold.png") no-repeat;
}

#wrap > div > ul > .blue{
    background: url("../images/bg-header-blue.png") no-repeat;
}

#wrap > div > ul > .red{
    background: url("../images/bg-header-red.png") no-repeat;
}

#wrap > div > ul > .green{
    background: url("../images/bg-header-green.png") no-repeat;
}
#wrap > div > ul > li>.name{
    font-size: 14px;
    color:#003680;
    font-weight: bold;
    float:left;
}

#wrap > div > ul > li> #pic{
    float:right;
    height:120px;
    width: 100px;
}

.lbox{
    float:right;
}

.fright{
    float:right;

}

#wrap > div > ul > li:nth-child(2){
	border-top: none;
}


#wrap > div > ul > li{
	border: 1px solid white;
	font-size: 11px;
	padding:3px;
}

#wrap > div > ul > li > .blackbold{
	color:#000;
	font-weight: bold;
}

#wrap > div > ul > li > .bluebold{
	color:#003680;
	font-weight: bold;
}

#wrap > div > ul > li > .graybold{
	color:#a2a2a2;
	font-weight: bold;
}

#wrap > div > ul > li > img{
	width: 19px;
	height: 11px;
	vertical-align: middle;
}

#wrap > div > ul > li > .date{
	float:left;
    text-align: right;
    padding-bottom: 5px;
    padding-right: 4px;
    color:#000;
    font-weight: bold;
}
#a{
    height: 200px;
    width:500px;
    background-color: green;
    float:left;
}
#b{
     height: 50px;
    width:50px;
    background-color: red;
    float:left;

}
#c{
     height: 50px;
    width:50px;
    background-color: yellow;
    float:left;
}
/**********End AdditionalFacts Section******************
*********************************************************/

