body {
  font-family: Helvetica, Arial, sans-serif;
}

body > div {
  width: 950px;
  margin: 0 auto;
  background-color:#d4deeb;
}

#moonarticle {
  width: 750px;
  float: left;
}

.clear {
  clear: both;
}

header{
width:950px;
height:144px;
background: #fff;
}

nav{
float: left;
background: #ccc;
width:200px;
height: 600px;
}

body > div > section > div {
  width: 732px;
  margin: 0 auto;
  background-color: white;
  margin-left: 9px;
  margin-right: 9px;
}

body > div > section > div > article:nth-of-type(1) {
  width: 714px;
  margin: 0 auto;
  border: 1px solid gray;
}

body > div > section > div > article:nth-of-type(1) > img {
  margin: 0 auto;
  width: 704px;
  height: 352px;
  padding: 5px;
}

body > div > section > div > article:nth-of-type(1) > p {
  font-size: 11px;
  margin: 5px;
  color: #165AAE;
}

.subtitle {
  color: #01358A;
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
}

body > div > section > div > article:nth-of-type(2) {
  width: 714px;
  margin: 0 auto;
}

body > div > section > div > article:nth-of-type(2) > ol > li {
  font-size: 13px;
  color: #000000;
}